.pagination {
	font-size: 70%;
	text-align: center;
}

.pagination a {
	text-decoration: none;
	border: solid 1px #4bacff;
	/* #AAE #15B*/
	color: #15B;
	text-align: center;
}

.pagination a:hover {
	background: #4bacff;
	/* 	#26B */
	color: #fff;
	border: solid 1px #4bacff;
	text-align: center;
}

.pagination a, .pagination span {
	display: block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
	min-width: 1em;
	text-align: center;
}

.pagination .current {
	background: #4bacff;
	/* 	#26B */
	color: #fff;
	border: solid 1px #4bacff;
	text-align: center;
}

.pagination .current.prev, .pagination .current.next {
	color: #999;
	border-color: #999;
	background: #fff;
	text-align: center;
}