<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>
		</description>
    <display-name>OutServlet</display-name>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>com.imlc.demo.servlet.OutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.imlc.demo.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.imlc.demo.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ValiImg</display-name>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.imlc.demo.servlet.ValiImg</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CusServlet</display-name>
    <servlet-name>CusServlet</servlet-name>
    <servlet-class>com.imlc.demo.servlet.CusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ListCustServlet</display-name>
    <servlet-name>ListCustServlet</servlet-name>
    <servlet-class>com.imlc.demo.servlet.ListCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustServlet</servlet-name>
    <url-pattern>/ListCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CusServlet</servlet-name>
    <url-pattern>/CusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/OutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/ValiImg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>